<!DOCTYPE html>
<html>
  <head>
    <title>Text Transformer</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
  </head>
  <body>
    <h1>Text Transformer</h1>
    <div class="container">
      <textarea id="inputText" class="input" placeholder="Enter text here..."></textarea>
      <div id="output" class="output">
        <pre style="color:#aaa;word-wrap:break-word" id="outputText">Empty...</pre>
      </div>
      <div class="output-buttons">
        <button id="transform" class="transform" onclick="transform()">Transform</button>
        <div class="tooltip">
          <button class="copy-button" onclick="copyClicked()" onmouseout="outFunc()">
            <span class="toolTipText" id="copyText">Copy to clipboard</span>
            Copy
          </button>
        </div>
      </div>
      <hr style="width:100%;margin-top:30px;margin-bottom:15px">
      <h3>Transformations &#8595;</h3>
      <div id="transformation-buttons" class="transformation-buttons">
      </div>
      <div class="dragBox" id="dragBox"></div>
    </div>

    <script th:src="@{js/home.js}"></script>
  </body>
</html>